<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookSwap - Login</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>
  <body class="login-body">
    <nav class="navbar">
      <a href="/" class="btn">Home</a>
      <% if (user) { %>
      <a href="/profile" class="btn">Perfil</a>
      <% } %>

      <a href="/publish-book" class="btn">Publicar Livro</a>

      <% if (!user) { %>
      <a href="/login" class="btn">Login</a>
      <a href="/register" class="btn">Registrar</a>
      <% } %> <% if (user) { %>
      <a href="/logout" class="btn">Logout</a>
      <% } %>
    </nav>

    <section class="area-login">
      <div class="login">
        <div>
          <img src="img/logoo.png" alt="logo" />
        </div>

        <form action="/login" method="POST">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Insira o email"
            autofocus
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Insira a senha"
            required
          />
          <input class="entra" type="submit" value="entrar" />
          <p>Ainda não possui conta?<a href="/register">Criar conta</a></p>
        </form>
      </div>
    </section>
  </body>
</html>
