<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>
  <body class="login-body">
    <nav class="navbar">
      <a href="/" class="btn">Home</a>
      <% if (user) { %>
      <a href="/profile" class="btn">Perfil</a>
      <% } %>

      <a href="/publish-book" class="btn">Publicar Livro</a>

      <% if (!user) { %>
      <a href="/login" class="btn">Login</a>
      <a href="/register" class="btn">Registrar</a>
      <% } %> <% if (user) { %>
      <a href="/logout" class="btn">Logout</a>
      <% } %>
    </nav>
    <div class="area-cadastro">
      <section class="cadastro">
        <h2>Register User</h2>
        <form action="/register" method="POST" class="informacao">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Nome e Sobrenome"
            required
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="E-mail"
            required
          />

          <input
            type="password"
            id="password"
            name="password"
            placeholder="senha"
            required
          />

          <input
            type="text"
            id="address"
            name="address"
            placeholder="Endereço completo"
          />

          <input
            type="text"
            id="contactInfo"
            name="contactInfo"
            placeholder="digite seu telefone"
          />

          <label for="favoriteGenre">Genero Favorito:</label>
          <select class="tipos" id="favoriteGenre" name="favoriteGenre">
            <option value="romance">Romance</option>
            <option value="estudo">Estudo</option>
            <option value="fantasia">Fantasia</option>
            <option value="ficcao">Ficção</option>
          </select>

          <button class="salva" type="submit">Register</button>
        </form>
      </section>
      <div class="imagem">
        <img src="img/logoo.png" alt="logo" />
      </div>
    </div>
  </body>
</html>
